body {
    /* background: url('../img/4k-wallpaper-calm-waters-dark-1252869.jpg') #F5F5F5; */
    /* background-image: url('../img/starry_sky_night_mountains_117812_3840x2160.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; */

    /* background-image: url('../img/starry_sky_night_mountains_117812_3840x2160.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed; */

    background:  #111111/* url('../img/starry_sky_night_mountains_117812_3840x2160.jpg') */ no-repeat fixed center center;
    background-size: cover;
}

/* select {
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
} */

header .nav-link:-moz-focus-inner,
header .nav-link:focus,
header a {
    border: 0 !important;
    text-decoration: underline;
}

header .nav-link:focus,
header .nav-item:focus {
    border: 0 !important;
}

.bg-dark-lux {
    background: #1A1A1A;
}

.bg-white-bar {
    background: #ffffff;
}

.header-logo {
    width: 9%;
}

.main-section {
    min-height: 90vmin;
}

.sidebar {
    min-height: 90vmin;
}

.sidebar-logo {
    width: 50%;
}

.cursor-pointer {
    cursor: pointer !important;
}

.bg-white-bar {
    background: #f1f2f4 !important;
}

#form-save-todo button{
    width: 38px;
    justify-content: center;
}

.bg-dark-opa {
    background: rgba(55, 59, 67, .5);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance: textfield;
    /* Firefox */
}

textarea:focus,
select:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: rgba(236, 240, 241, .5);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(236, 240, 241, .4);
    outline: 0 none;
}

.form-control:focus {
    border-color: rgba(236, 240, 241, .5);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(236, 240, 241, .4);
}

/* Media Queries */

@media only screen and(max-width: 1000px) {
    body {
        background-size: initial;
    }

    .sidebar-logo {
        width: 50%;
    }
}

@media only screen and (max-width: 900px) {
    #todos span {
        max-width: 185px;
    }

    .sidebar {
        min-height: 0;
    }
    
}

@media only screen and (max-width: 770px) {
    .sidebar-logo {
        width: 20%;
    }
}
@media only screen and (max-width: 420px) {
    body {
        background-size: initial;
    }

    .header-logo {
        width: 10%;
    }
}