.bg-dark-lux {
    background: #1A1A1A;
}

.header-logo {
    width: 7%;
}

.main-section {
    background: url('../img/4k-wallpaper-calm-waters-dark-1252869.jpg') #F5F5F5;
    background-size: cover;
    position: relative;
    min-height: 90vmin;
}

.sidebar {
    min-height: 90vmin;
}

.sidebar-logo {
    width: 50%;
}

.background-overlay {
    background: rgba(95, 39, 205, .1);
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.cursor-pointer {
    cursor: pointer !important;
}

/* .input-time .form-control  {
    width: 10px !important;
    height: 38px;
    text-align: center;
} */

.bg-white-bar {
    background: #f1f2f4 !important;
}

#form-save-todo {
    /* opacity: 0.5; */
}

.bg-dark-opa {
    background: rgba(55, 59, 67, .5);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance: textfield;
    /* Firefox */
}

textarea:focus,
select:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: rgba(236, 240, 241, .5);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(236, 240, 241, .4);
    outline: 0 none;
}

.form-control:focus {
    border-color: rgba(236, 240, 241, .5);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(236, 240, 241, .4);
}